#ignore the following
platform.yml
results.html
infrastructure/
environments/
logs/

# bundler workings
Gemfile.lock
.bundle/
vendor/

# Misc things
pkg/
tmp/
.idea/
.rvmrc
.*sw[p-z]
.ruby-version
coverage/.last_run.json
coverage/.resultset.json
.yardoc/
doc/
