---
name: <%= platform.downcase %>

vcenter: &vcenter
  geo: west
  timezone: 085

  host: <hostname>
  datacenter: <datacenter>
  imagefolder: <images>
  destfolder: <destination>
  resourcepool: <resourcepool>
  appendenv: false
  appendtier: false
  datastores:
    - <datastore>

  domain: <domain>
  dnsips:
    - <ip>

networks:

  net:
    vlanid: <id>
    gateway: <ip>
    netmask: <netmask>


compute:

  default: &default
    cpu: <num>
    ram: <num>
