---
platform:
  name: <%= platform.downcase %>

  environments:
    - <%= options[:development_environment] %>

  tiers:
    - <tiername>

  nodenameconvention:
    - environment
    - '-'
    - component
    - '-'
    - instance
    - geo1


  pool:

    vmdefaults: &vmdefaults
      count: <nodes>
      tier: <tiernamae>
      image: <image>
      compute: default


  components:

    component:
      <<: *vmdefaults
      port: 80
